---
title: "LESS: The Dynamic Stylesheet Language"
---
{{> masthead }}


<section id="example">
  {{md 'content/examples/example.md'}}
  {{md 'content/usage-serverside.md'}}
</section>

<section id="synopsis" class="page page-dark">
  <div class="content">
    {{md 'content/synopsis.md'}}
  </div>
</section>

<section id="usage" class="page page-dark">
  <div class="content">
    {{md 'content/usage-clientside.md'}}
  </div>
</section>

<section id="docs" class="page page-light">
  <h1>The Language</h1>
  <div class="content">
    {{md 'content/doc.md'}}
  </div>
</section>

<section id="reference" class="page page-light">
  <h1>Function Reference</h1>
  <div class="content">
    {{md 'content/features/function-reference.md'}}
  </div>
</section>

