{{!-- Header --}}
<div class="docs-header" id="content">
  <div class="container" style="text-align:center">
    <div>
      <img src="public/img/less_logo.png" style="max-width: 264px" />
      <h3>It's CSS, with just a little more.</h3>

      <p>Use with Node.js:</p>
      <code>npm install -g less</code><br>
      <code>&gt; lessc styles.less styles.css</code>
      <br><br>
      <p>Or the browser:</p>
      <code>{{marked '<link rel="stylesheet/less" type="text/css" href="styles.less" />' }}</code><br>
      <code>&lt;script src="<a href="{{ site.cdn.cloudflare }}{{ less.version }}/less.min.js">{{ site.cdn.cloudflare }}{{ less.version }}/less.min.js</a>" &gt;&lt;/script&gt;</code><br>

    </div>
  </div>
</div>

{{!-- Callout for the old docs link --}}
{{> banner }}