<footer class="footer" role="contentinfo">
  <div class="container">
    {{> social-buttons }}
    <p>Less and these docs are maintained by <a href="{{rel 'about'}}/#team">the core Less team</a>.</p>
    <p>Documentation source code released under the <a href="https://github.com/less/less-docs/blob/master/LICENSE-MIT" target="_blank">MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <ul class="footer-links">
      <li>Currently v{{ less.version }}</li>
      {{#is links.blog true}}
      <li class="muted">&middot;</li>
      <li><a href="{{ site.blog }}">Blog</a></li>
      {{/is}}
      <li class="muted">&middot;</li>
      <li><a href="{{ less.bugs.url }}">Less Language and Compiler Issues</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.issues }}">Less Docs Issues</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ less.master.url }}CHANGELOG.md">Changelog</a></li>
      {{#is links.releases true}}
      <li class="muted">&middot;</li>
      <li><a href="{{ less.master.url }}dist/">Releases</a></li>
      {{/is}}
    </ul>
  </div>
</footer>
