<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>Less</h1>
    <p class="lead">{{{site.description}}}</p>
    <p>
      <a href="{{site.download.latest}}" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download {{less.version}}']);">Download Less v{{less.version}}</a>
      <a href="{{ site.download.source }}" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download {{less.version}}']);">Download source</a>
    </p>
  </div>
</main>
