<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{rel '/#'}}" class="navbar-brand" alt="Less">
        <img src="{{assets}}/img/logo.png"></img>
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{{#is slug 'features'}} class="active"{{/is}}>
          <a href="{{rel 'features'}}">Language Features</a>
        </li>
        {{#is links.plugins true}}
        <li{{#is slug 'plugins'}} class="active"{{/is}}>
          <a href="{{rel 'plugins'}}">Plugins</a>
        </li>
        {{/is}}
        <li{{#is slug 'functions'}} class="active"{{/is}}>
          <a href="{{rel 'functions'}}">Function Reference</a>
        </li>
        <li{{#is slug 'usage'}} class="active"{{/is}}>
          <a href="{{rel 'usage'}}">Usage</a>
        </li>
        {{#is links.cheatsheet true}}
        <li{{#is slug 'cheatsheet'}} class="active"{{/is}}>
          <a href="{{rel 'cheatsheet'}}">Cheatsheet</a>
        </li>
        {{/is}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#is links.blog true}}
        <li{{#is slug 'blog'}} class="active"{{/is}}>
          <a href="{{rel 'blog'}}">Blog</a>
        </li>
        {{/is}}
        <li{{#is slug 'about'}} class="active"{{/is}}>
          <a href="{{rel 'about'}}">About</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">GitHub <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <a href="{{site.repo}}">Docs Repo</a> </li>
            <li> <a href="{{site.issues}}">Docs Issues</a> </li>
            <li class="divider"></li>
            <li> <a href="{{less.repo}}">Less.js Repo</a> </li>
            <li> <a href="{{less.issues}}">Less.js Issues</a> </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
