<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{relative dest "index.html"}}" class="navbar-brand">LESS</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{{#is slug "features"}} class="active"{{/is}}>
          <a href="./{{relative dest 'features.html'}}">Language Features</a>
        </li>
        {{#unpublished}}
        <li{{#is slug "plugins"}} class="active"{{/is}}>
          <a href="./{{relative dest 'plugins.html'}}">Plugins</a>
        </li>
        {{/unpublished}}
        <li{{#is slug "functions"}} class="active"{{/is}}>
          <a href="./{{relative dest 'functions.html'}}">Function Reference</a>
        </li>
        <li{{#is slug "usage"}} class="active"{{/is}}>
          <a href="./{{relative dest 'usage.html'}}">Usage</a>
        </li>
        {{#unpublished}}
        <li{{#is slug "cheatsheet"}} class="active"{{/is}}>
          <a href="./{{relative dest 'cheatsheet.html'}}">Cheatsheet</a>
        </li>
        {{/unpublished}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#unpublished}}
        <li{{#is slug "blog"}} class="active"{{/is}}>
          <a href="./blog.html">Blog</a>
        </li>
        {{/unpublished}}
        <li{{#is slug "about"}} class="active"{{/is}}>
          <a href="./about.html">About</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">GitHub <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <a href="{{site.repo}}">Docs Repo</a> </li>
            <li> <a href="{{site.issues}}">Docs Issues</a> </li>
            <li class="divider"></li>
            <li> <a href="{{site.repo}}">Less.js Repo</a> </li>
            <li> <a href="{{site.issues}}">Less.js Issues</a> </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
