{{!-- the trigger link --}}
<a class="glyphicon glyphicon-pencil source-link right" href="https://github.com/less/less-docs/blob/master/{{{.}}}" data-content="{{{slugify (filename .)}}}" target="_blank"></a>


{{!-- the popover link. this is dynamically inserted into the popover template by ./assets/public/js/application.js --}}
<a id="{{{slugify (filename .)}}}" href="https://github.com/less/less-docs/blob/master/{{{.}}}" target="_blank">Edit the {{{filetype .}}} for {{{rename (basename .)}}}
  <span class="glyphicon glyphicon-new-window"></span>
</a>
