---
title: About
slug: about
lead: "Learn about the history of Less, meet the core team, and check out the ever-growing community resources."
---

{{!-- History
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="history">History</h1>
  </div>
  {{md 'history'}}
</div>


{{!-- Team
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="team">Core team</h1>
  </div>
  <p class="lead">Less is maintained by a group of invaluable core contributors, with the massive support and involvement of our community. No one person is in charge and everyone has their own areas and donates the time they can afford. In alphabetical order:</p>
  <div class="list-group less-team">

    {{! Generated from data/team.yml }}
    {{#each team.members}}
    <div class="list-group-item">
      <iframe class="github-btn" src="{{{follow}}}"></iframe>
      <a class="team-member" href="https://github.com/{{{username}}}">
        <img src="{{{gravatar}}}" alt="@{{{username}}}">
        <strong>{{{name}}}</strong> {{{contribution}}} <small>@{{{username}}}</small>
      </a>
    </div>
    {{/each}}

  </div>
  <p>Get involved with Less.js development by <a href="{{less.issues}}/new">opening an issue</a> or submitting a pull request (if it's a feature request, please open an issue first). </p>
  <p>Read our <a href="{{ less.master }}CONTRIBUTING.md">contributing guidelines</a> and the <a href="{{rel 'usage'}}/#developing-less">developing section</a> of our usage page.</p>
</div>


{{!-- Community
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="community">Community</h1>
  </div>
  <p class="lead">Stay up to date on the development of Less.js and reach out to the community with these helpful resources.</p>
  <ul>
    <!--li>Read and subscribe to <a href="">The Official Less.js Blog</a>.</li -->
    <li>Have a feature request or bug report? <a href="{{ less.issues }}">Let us know on our GitHub Issues</a>.</li>
  </ul>
  <p>Have a question about less language or need a help with tricky use case? Here are some links worth visiting:</p>
  <ul>
    <li><a href="http://webchat.freenode.net/?randomnick=1&channels=%23%23lesscss">##lesscss</a> channel on Freenode.</li>
    <li>Less Q&A at <a href="http://stackoverflow.com/questions/tagged/less">Stack Overflow</a>.</li>
  </ul>
</div>


{{!-- Ports
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="ports">Ports of Less.js</h1>
  </div>
  <p class="lead">Less has been ported to several other programming languages.</p>

  {{md 'ports'}}
</div>


{{!-- Translations
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="translations">Translations</h1>
  </div>
  <p class="lead">Community members have translated Less.js's documentation into various languages.</p>

  <div class="callout callout-warning">
    <h4>Community submitted.</h4>
    <p>None of the translations are officially supported and <strong>may not always be up to date</strong>.</p>
  </div>

  {{! Generated from data/translations.yml }}
  <ul class="list-bullets">
  {{#each translations}}
    <li> <strong>{{language}}: </strong> <a href="{{url}}"> {{url}} </a> </li>
  {{/each}}
  </ul>

  <p>Have another language to add, or perhaps a different or better translation? Let us know by <a href="{{less.issues}}/new">opening an issue</a>.</p>
</div>
