---
title: About
slug: about
lead: "Learn about the history of Less, meet the core team, and check out the ever-growing community resources."
---

{{!-- History
================================================== --}}
<div class="docs-section">
  <div class="">
    <h1 id="history">History</h1>
  </div>
  {{md 'history'}}
</div>


{{!-- Team
================================================== --}}
<div class="docs-section">
  <h1 id="team">Core team</h1>
  
  <p class="lead">Less is maintained by a group of invaluable core contributors, with the massive support and involvement of our community. No one person is in charge and everyone has their own areas and donates the time they can afford. In alphabetical order:</p>
  <div class="list-group less-team">

    {{! Generated from data/team.yml }}
    {{#each team.members}}
    <div class="list-group-item">
      <iframe class="github-btn" src="{{{follow}}}"></iframe>
      <a class="team-member" href="https://github.com/{{{username}}}">
        <img src="{{{gravatar}}}" alt="@{{{username}}}">
        <strong>{{{name}}}</strong> {{{contribution}}} <small>@{{{username}}}</small>
      </a>
    </div>
    {{/each}}

  </div>
  <p>Get involved with Less development by <a href="{{less.bugs.url}}/new">opening an issue</a> or submitting a pull request (if it's a feature request, please open an issue first). </p>
  <p>Read our <a href="{{ less.master.url }}CONTRIBUTING.md">contributing guidelines</a> and the <a href="{{rel 'usage'}}/#developing-less">developing section</a> of our usage page.</p>
</div>


{{!-- Community
================================================== --}}
<div class="docs-section">
  <div class="">
    <h1 id="community">Community</h1>
  </div>
  <p class="lead">Stay up to date on the development of Less and reach out to the community with these helpful resources.</p>
  <ul>
    <!--li>Read and subscribe to <a href="">The Official Less Blog</a>.</li -->
    <li>Have a feature request or bug report? <a href="{{ less.bugs.url }}">Let us know on our GitHub Issues</a>.</li>
  </ul>
  <p>Have a question about less language or need a help with tricky use case? Here are some links worth visiting:</p>
  <ul>
    <li><a href="http://webchat.freenode.net/?randomnick=1&channels=%23%23lesscss">##lesscss</a> channel on Freenode.</li>
    <li>Less Q&A at <a href="http://stackoverflow.com/questions/tagged/less">Stack Overflow</a>.</li>
  </ul>
</div>

{{!-- Learn More
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="learn-more">Learn More</h1>
  </div>
  {{md 'learn-more'}}
</div>

{{!-- Translations
================================================== --}}
<div class="docs-section">
  <div class="">
    <h1 id="translations">Translations</h1>
  </div>
  <p class="lead">Community members have translated Less documentation into various languages.</p>

  <div class="callout callout-warning">
    <h4>Community submitted.</h4>
    <p>None of the translations are officially supported and <strong>may not always be up to date</strong>.</p>
  </div>

  {{! Generated from data/translations.yml }}
  <ul class="list-bullets">
  {{#each translations}}
    <li> <strong>{{language}}: </strong> <a href="{{url}}"> {{url}} </a> </li>
  {{/each}}
  </ul>

  <p>Have another language to add, or perhaps a different or better translation? Let us know by <a href="{{less.bugs.url}}/new">opening an issue</a>.</p>
</div>



{{!-- License FAQs
================================================== --}}
<div class="docs-section">
  <div class="">
    <h1 id="license-faqs">License FAQs</h1>
  </div>
  <p class="lead">Less.js is released under the Apache 2 License (<a href="https://github.com/less/less.js/issues/1029">though there are plans to dual license it</a>). Copyright 2009-{{ now "%Y" }}, Alexis Sellier and the Less Core Team (see about). Boiled down to smaller chunks, it can be described with the following conditions.</p>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4>It allows you to:</h4>
      <ul>
        <li>Freely download and use Less.js, in whole or in part, for personal, company internal or commercial purposes</li>
        <li>Use Less.js in packages or distributions that you create</li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
      <h4>It forbids you to:</h4>
      <ul>
        <li>Redistribute any piece of Less.js without proper attribution</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4>It requires you to:</h4>
      <ul>
        <li>Include a copy of the license in any redistribution you may make that includes Less.js</li>
        <li>Provide clear attribution to The Less Core Team for any distributions that include Less.js</li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
      <h4>It does not require you to:</h4>
      <ul>
        <li>Include the source of Less.js itself, or of any modifications you may have made to it, in any redistribution you may assemble that includes it</li>
        <li>Submit changes that you make to Less.js back to the Less.js project (though such feedback is encouraged)</li>
      </ul>
    </div>
  </div>
  <p>The full Less.js license is located <a href="{{ less.master.url }}LICENSE">in the project repository</a> for more information.</p>
</div>
