---
title: Features In-Depth
lead: Features of the Less language
slug: features
---

{{#each features.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    
    <h1 id="{{@key}}-feature">{{{title}}}</h1>
    

    {{#each (expand files)}}
      
      <div class="section-content">
        {{> popover-source-link . }}

        <!-- {{basename .}} -->
        {{success '>> Inlining:' (basename .)}} {{! log a success message! }}


        {{#markdown}}
        {{inline .}}
        {{/markdown}}

        <br>
      </div>
    {{/each}}

    {{#each subs}}

      <!-- {{title}} -->
      <h2 id="{{@key}}-feature">{{{title}}}</h2>
      
      {{#each (expand files)}}
        <div class="section-content">
          {{> popover-source-link . }}

          <!-- {{basename .}} -->
          {{success '>> Inlining:' (basename .)}} {{! log a success message! }}


          {{#markdown}}
          {{inline .}}
          {{/markdown}}

          <br>
        </div>
      {{/each}}
    {{/each}}

  </div>
{{/each}}