---
title: Language Features
lead: Features of the Less language
slug: features
sidenav: nav-<%= slug %>
---

{{#each features.sections}}
<!-- {{title}} -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="{{@key}}-feature">{{title}}</h1>
    {{#if lead}}
      <p class="lead">{{lead}}</p>
    {{/if}}
  </div>
  <div class="section-content">
    {{md content}}
  </div>
</div>
{{/each}}
