---
layout: default.hbs
title: Language Features
slug: features
lead: "Features supported by Less.js."
base_url: "../"
---

<!-- Features -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="features-overview">Overview</h1>
  </div>
  <p class="lead">Simple overview of the basic features</p>
  {{md 'content/overview.md'}}
</div>


<div class="docs-section">
  {{md 'content/features/extend.md'}}
  {{md 'content/features/import-directives.md'}}
  {{md 'content/features/loops.md'}}
  {{md 'content/features/merge.md'}}
  {{md 'content/features/mixins.md'}}
  {{md 'content/features/mixins-as-functions.md'}}
  {{md 'content/features/parent-selectors.md'}}
  {{md 'content/features/variables.md'}}
</div>
