---
layout: default.hbs
title: Language Features
slug: features
lead: "Features supported by Less.js."
---

{{#each features.sections}}
<!-- {{title}} -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="{{@key}}-feature">{{title}}</h1>
  </div>
  {{#if lead}} <p class="lead">{{lead}}</p> {{/if}}
  {{md content}}
</div>
{{/each}}
