---
layout: default.hbs
title: Functions
slug: functions
lead: "Function reference."
---

<!-- Functions
================================================== -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="functions-overview">Functions</h1>
  </div>
  <p class="lead">Built-in functions supported by Less.js.</p>

  {{#unpublished}}
  Once this section is filled in, also add the side navigation link.
  <h2 id="functions-how-to-use">How to use</h2>
  <p>Lorem ipsum.</p>
  {{/unpublished}}
</div>


<div class="docs-section">
  <h1 id="string-functions">String Functions</h1>
  {{md 'content/functions/string.md'}}
</div>

<div class="docs-section">
  <h1 id="misc-functions">Misc Functions</h1>
  {{md 'content/functions/misc.md'}}
  {{md 'content/functions/default-function.md'}}
</div>

<div class="docs-section">
  <h1 id="list-functions">List Functions</h1>
  {{md 'content/functions/list.md'}}
</div>

<div class="docs-section">
  <h1 id="math-functions">Math Functions</h1>
  {{md 'content/functions/math.md'}}
</div>

<div class="docs-section">
  <h1 id="type-functions">Type Functions</h1>
  {{md 'content/functions/type.md'}}
</div>

<div class="docs-section">
  <div class="page-header">
    <h1 id="color-functions">Color Functions</h1>
  </div>
</div>

<div class="docs-section">
  <h1 id="color-definition">Color Definition</h1>
  {{md 'content/functions/color-definition.md'}}
</div>

<div class="docs-section">
  <h1 id="color-channel">Color Channel</h1>
  {{md 'content/functions/color-channel.md'}}
</div>

<div class="docs-section">
  <h1 id="color-operations">Color Operations</h1>
  {{md 'content/functions/color-operations.md'}}
</div>

<div class="docs-section">
  <h1 id="color-blending">Color Blending</h1>
  {{md 'content/functions/color-blending.md'}}
</div>