---
title: Functions
slug: functions
lead: Function reference
---

{{!-- Functions
================================================== --}}

<div class="docs-section">
  <div class="page-header">
    <h1 id="functions-overview">Functions</h1>
  </div>
  <p class="lead">Built-in functions supported by Less.</p>
</div>

{{#each functions.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="{{@key}}">{{title}}</h1>
    </div>

    {{#each (expand files)}}
    <div class="section-content">
      {{> source-link .}}

      <!-- {{basename .}} -->
      {{success '>> Inlining:' (basename .)}} {{! log a success message! }}

      {{#markdown}}
        {{inline .}}
      {{/markdown}}
      <br>
    </div>
    {{/each}}

  </div>
{{/each}}
