---
title: Functions
slug: functions
lead: Function reference
---

{{!-- Functions
================================================== --}}

<div class="docs-section">
  <div class="">
    <h1 id="functions-overview">Functions</h1>
  </div>
  <p class="lead">Built-in functions supported by Less.</p>
</div>



{{#each functions.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    
    <h1 id="{{@key}}">{{title}}</h1>

    {{#each (expand files)}}
    <div class="section-content">
      {{> popover-source-link . }}

      <!-- {{filename .}} -->
      {{success '>> Inlining:' (filename .)}} {{! log a success message! }}


{{#markdown}}
{{inline .}}
{{/markdown}}

      <br>
    </div>
    {{/each}}

  </div>
{{/each}}
