---
layout: home.hbs
title: Bootstrap
slug: index
base_url: "./"
---

<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>{{site.title}}</h1>
    <p class="lead">{{pkg 'description'}}</p>
    <p>
      <a href="{{ site.download_dist }}" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download {{ less.version }}']);">Download Less.js</a>
      <a href="{{ site.download_source }}" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download {{ less.version source }}']);">Download source</a>
    </p>
  </div>
</main>
