---
layout: default.hbs
title: Getting started
slug: index
lead: "An overview of Less, how to download and use, examples and more."
base_url: "../"
---

  <!-- Getting started
  ================================================== -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="getting-started">Getting Started</h1>
    </div>
    {{md 'content/front/getting-started.md'}}
  </div>


  <!-- Usage
  ================================================== -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="using-less">Using Less</h1>
    </div>
    <p class="lead">Less can be used in a few different ways</p>

    Install via NPM

    <p><a class="btn btn-lg btn-primary" href="{{ site.download_dist }}" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);" role="button">Download Less.js v{{less.version}}</a></p>

    <h3 id="download-additional">Additional downloads</h3>
    <div class="docs-dl-options">
      <h4>
        <a href="{{ site.download_source }}" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download source']);">Download source code</a>
      </h4>
      <p>Get the latest Less.js source code by downloading it directly from GitHub.</p>
      <h4>
        <a href="{{ site.repo }}" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'GitHub project']);">Clone or fork via GitHub</a>
      </h4>
      <p>Visit us on GitHub to clone or fork the Less.js project.</p>
      <h4>
        Install with <a href="http://bower.io">Bower</a>
      </h4>
      <p>Install the Less.js project and JavaScript using <a href="http://bower.io">Bower</a>.</p>

{{#markdown}}
```bash
bower install less
```
{{/markdown}}

    </div>

    <h3 id="download-cdn">Less CDN</h3>
    <p>TODO <a href="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js">CDN</a>.</p>

{{#markdown}}
```html
<script src="{{ site.cdn }}"></script>
```
{{/markdown}}

    {{#todo}}
    <div class="bs-callout bs-callout-warning" id="callout-less-compilation">
      <h4>Compiling Less.js files</h4>
      <p>If you are developing with Less.js ....</p>
    </div>
    {{/todo}}
  </div>


  <!-- Browser support
  ================================================== -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="browsers">Browser support</h1>
    </div>
    {{md 'content/front/browser-support.md'}}
  </div>

  <!-- License FAQs
  ================================================== -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="license-faqs">License FAQs</h1>
    </div>
    <p class="lead">Less is released under the Apache 2 license and is copyright {{ now "%Y" }} The Less Core Team (see about). Boiled down to smaller chunks, it can be described with the following conditions.</p>

    <div class="row">
      <div class="col-12 col-lg-6">
        <h4>It allows you to:</h4>
        <ul>
          <li>Freely download and use Less.js, in whole or in part, for personal, company internal or commercial purposes</li>
          <li>Use Less.js in packages or distributions that you create</li>
        </ul>
      </div>
      <div class="col-12 col-lg-6">
        <h4>It forbids you to:</h4>
        <ul>
          <li>Redistribute any piece of Less.js without proper attribution</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <h4>It requires you to:</h4>
        <ul>
          <li>Include a copy of the license in any redistribution you may make that includes Less.js</li>
          <li>Provide clear attribution to The Less Core Team for any distributions that include Less.js</li>
        </ul>
      </div>
      <div class="col-12 col-lg-6">
        <h4>It does not require you to:</h4>
        <ul>
          <li>Include the source of Less.js itself, or of any modifications you may have made to it, in any redistribution you may assemble that includes it</li>
          <li>Submit changes that you make to Less.js back to the Less.js project (though such feedback is encouraged)</li>
        </ul>
      </div>
    </div>
    <p>The full Less.js license is located <a href="{{ site.repo }}/blob/master/LICENCE">in the project repository</a> for more information.</p>
  </div><!-- /.docs-section -->
