---
title: Getting started
slug: index
lead: "An overview of Less, how to download and use, examples and more."
---

{{!-- Getting started
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="getting-started">Getting Started</h1>
  </div>
  {{md 'getting-started'}}
</div>



{{!-- Usage
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="using-less">Using Less</h1>
  </div>
  {{md 'using-less'}}
</div>




{{!-- Downloads
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="download-options">Get Less.js</h1>
  </div>

  <h2 id="browser-downloads">Browser downloads</h2>
  <a class="btn btn-default" href="{{ less.rawcurrent }}{{ less.version }}/dist/less.min.js">Download Less.js v{{less.version}}</a>

  <div class="docs-dl-options">
    {{md 'download-options'}}
  </div>

  <div class="cdn-options">
    {{md 'cdn-options'}}
  </div>
</div>



{{!-- License FAQs
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="license-faqs">License FAQs</h1>
  </div>
  <p class="lead">Less.js is released under the Apache 2 License (<a href="https://github.com/less/less.js/issues/1029">though there are plans to dual license it</a>). Copyright 2009-{{ now "%Y" }}, Alexis Sellier and the Less Core Team (see about). Boiled down to smaller chunks, it can be described with the following conditions.</p>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4>It allows you to:</h4>
      <ul>
        <li>Freely download and use Less.js, in whole or in part, for personal, company internal or commercial purposes</li>
        <li>Use Less.js in packages or distributions that you create</li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
      <h4>It forbids you to:</h4>
      <ul>
        <li>Redistribute any piece of Less.js without proper attribution</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4>It requires you to:</h4>
      <ul>
        <li>Include a copy of the license in any redistribution you may make that includes Less.js</li>
        <li>Provide clear attribution to The Less Core Team for any distributions that include Less.js</li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
      <h4>It does not require you to:</h4>
      <ul>
        <li>Include the source of Less.js itself, or of any modifications you may have made to it, in any redistribution you may assemble that includes it</li>
        <li>Submit changes that you make to Less.js back to the Less.js project (though such feedback is encouraged)</li>
      </ul>
    </div>
  </div>
  <p>The full Less.js license is located <a href="{{ less.master }}LICENSE">in the project repository</a> for more information.</p>
</div>
