---
title: Usage
slug: usage
sidenav: nav-<%= slug %>
lead: "How to use less server-side, client-side and with third parties."
---

<!-- Usage
=================================== -->
<div class="docs-section">
  <h1 id="using-less-environments">Using Less</h1>
  <p class="lead">Using less in node, browser and third party. For general installation instructions and an overview, please read the <a href="index.html#using-less">Using Less</a> section on our front page.</p>
</div>


{{#compose src="usage/using-node.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/using-browser.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/browser-support.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/online-less-compilers.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/guis-for-less.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/editors-and-plugins.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/different-compilers.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/frameworks-using-less.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/options.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/sourcemaps.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/plugins.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}


{{#compose src="usage/developing-less.js.md"}}
  <div class="docs-section">
    <div class="page-header">
      <h2 id="{{slugify @basename}}">{{{@title}}}</h2>
      {{#if @subtitle}} <p class="subtitle">{{{@subtitle}}}</p> {{/if}}
    </div>
    {{{@content}}}
  </div>
{{/compose}}